<header>
  <p><a href="/">Home</a></p>
  <p><a href="/about">about</a></p>
  <p><a href="/maintenance">maintenance</a></p>
  <p><a href="/projects">projects</a></p>
  <h1>{{pageTitle}}</h1>
</header>
